// ABOUT

.about {
  padding: 5rem 0;
  background-color: $lightBackground;
  h2 {
    color: $mediumFont;
  }
  .aboutGallery,
  .aboutText {
    display: flex;
  }
  .imgContainer,
  .aboutImage {
    background-image: url(../assets/small-box@2x.png);
    background-size: cover;
    background-position: center;
    width: calc(100vw / 3);
    height: calc(100vw / 4);
    margin-right: 2rem;
  }
  .imgContainer:nth-child(1) {
    background-image: url(../assets/gallery-image-1@2x.png);
  }
  .imgContainer:nth-child(2) {
    background-image: url(../assets/gallery-image-2@2x.png);
  }
  .imgContainer:nth-child(3) {
    background-image: url(../assets/gallery-image-3@2x.png);
    margin-right: 0;
  }
  .more {
    width: 90%;
  }
  p {
    margin: 2rem 0;
  }
  button {
    background-color: $mediumFont;
    color: $lightFont;
    &:hover,
    &:focus {
      background-color: $accent;
    }
  }
}

@media (max-width: 800px){
  .about {
    .aboutImage {
      display: none;
    }
    .aboutGallery {
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
    }
    .imgContainer {
      margin: 0;
      width: calc(100vw / 2 - 3.5rem);
      height: calc(100vw / 2 - 3.5rem)
    }
    .imgContainer:nth-child(3) {
      width: 100vw;
      height: 100vw;
      margin: 5rem 0;
    }
    .aboutText {
      width: 100%;
    }
    .more {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

@media (max-width: 500px){
  .about {
    padding: 3rem 0;
    .imgContainer {
      width: calc(100vw / 2 - 2rem);
      height: calc(100vw / 2 - 2rem)
    }
    .imgContainer:nth-child(3){
      width: 100vw;
      height: 100vw;
      margin: 3rem 0;
    }
  }
}

@media (max-width: 370px){
  .about {
    .imgContainer {
      width: calc(100vw / 2 - 1.5rem);
      height: calc(100vw / 2 - 1.5rem)
    }
  }
}