// CONTACT

.contact {
  background-color: $darkBackground;
  padding: 5rem 0;
  color: $lightFont;
  text-align: left;
  .contactContainer {
    display: flex;
    justify-content: space-between;
  }

  // SUBSCRIBE
  .subscribe {
    width: 50%;
  }
  .subscribe p {
    margin: 0.5rem 0;
  }
  form {
    display: flex;
  }
  input {
    width: 75%;
    padding-left: 1rem;
  }
  .buttonContainer {
    width: 25%;
  }
  button {
    border: none;
    background-color: $accent;
    color: $lightFont;
    &:hover,
    &focus {
      background-color: $mediumFont;
    }
  }

  // CONTACT INFO
  .contactInfo {
    width: 30%;
  }
  .contactInfo p:nth-of-type(1) {
    margin-top: 0.5rem;
  }

  // NAV
  nav {
    width: 10%;
    text-align: right;
  }
  a {
    color: $lightFont;
    font-family: $fancyFont;
    text-transform: lowercase;
    &:hover,
    &focus {
      color: $accent;
    }
  }
}

@media (max-width: 800px){
  .contact {
    .contactContainer {
      flex-wrap: wrap;
    }
    .subscribe {
      width: 100%;
      text-align: center;
    }
    form {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }
    form input {
      width: 100%;
      text-align: center;
      padding: 1rem;
      margin: 1rem 0;
    }
    .buttonContainer {
      width: 100%;
    }
    .contactInfo,
    nav {
      margin-top: 2rem;
    }
    .contactInfo {
      width: 70%;
    }
    nav {
      width: 30%;
      text-align: right;
    }
    a {
      font-size: 29px;
    }
  }
}

@media (max-width: 500px){
  .contact {
    padding: 3rem 0;
    h4, a {
      font-size: 25px;
    }
  }
}

@media (max-width: 370px){
  .contact {
    h4, a {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
  }
}