// MEET OUR PANDAS

.meetOurPandas {
  background-color: $darkBackground;
  display: flex;
  flex-direction: column;
  color: $lightFont;
  .sectionOne,
  .sectionTwo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .info,
  .pandaPhoto {
    width: 50%;
  }
  .info {
    padding: 0 5%;
  }
  .pandaPhoto {
    background-size: cover;
    background-position: center;
    height: calc(100vw / 2);
  }
  p {
    margin: 1.5rem 0;
  }
  button {
    color: $mediumFont;
    background-color: white;
    &:hover,
    &focus {
      background-color: $accent;
    }
  }
  .sectionOne .pandaPhoto {
    background-image: url(../assets/pascal-muller-4-eaj-iu-uxg-aq-unsplash@2x.png); 
  }
  .sectionTwo .pandaPhoto {
    background-image: url(../assets/debbie-molle-6-dsid-8-ey-9-u-unsplash-1@2x.png);
  }
}

@media (max-width: 800px){
  .meetOurPandas {
    .sectionOne,
    .sectionTwo {
      display: flex;
    }
    .sectionOne {
      flex-direction: column-reverse;
    }
    .sectionTwo {
      flex-direction: column;
    }
    .info,
    .pandaPhoto {
      width: 100%;
    }
    .info {
      padding: 5rem 5%;
    }
  }
}

@media (max-width: 500px){
  .meetOurPandas {
    .info {
      padding: 3rem 5%;
    }
  }
}